:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
  --d-green: #6a994e;
  --l-green: #a7c957;
  --grey: #e5e5e5;
  --cream: #f2e8cf;
  --login-bg: #90b753;
}
/* a {
  text-decoration: none;
} */

/* top bar */
/* .navbar {
  position: absolute;
  margin-left: 2em;
  font-family: "Poppins";
  display: inline;
}
.navbar-logo {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--d-green);
}
.navbar-name {
  padding-left: 1em;
  font-size: 2.5rem;
  color: var(--cream);
} */

body {
  height: 100%;
  background-color: var(--login-bg);
}

h1 {
  font-size: 120px;
}

/* HERO HERO HERO HERO */

.hero-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero-logo {
  font-family: "Poppins";
  font-size: clamp(4.375rem, 7vw, 8.75rem);
  font-weight: bold;
  color: var(--cream);
}

@media screen and (min-width:600){
  .hero-logo{
    content: '';
  }
}


.hero-name {
  font-family: "Poppins";
  font-size: clamp(4.5rem, 7vw, 9rem);
  font-weight: bold;
  color: #fff;
}

.hero-text {
  font-family: "Manrope";
  color: #fff;
  text-align: center;
  font-size: clamp(1.719rem, 2.5vw, 3.438rem);
}

/* @media screen and (min-width: 900px) {

  .hero-logo{
    font-family: "Poppins";
    font-size: 4.375rem;
    font-weight: bold;
    color: var(--cream);
  }
  
  .hero-name{
    font-family:"Poppins";
    font-size:  4.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .hero-text {
    font-family: "Manrope";
    color: #fff;
    text-align: center;  
  
    font-size: 1.719rem;
  }
} */

/* ABOUT SECTION */

.about {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--d-green);

  text-align: center;
  padding-bottom: 1em;
}

.about-section {
  background-color: #fff;
  padding: 1em 1.5em 1em 2em;

  font-family: "Slabo 13px";
  font-size: 1.25rem;
  /* line-height: 1.7em; */
  max-width: 59ch;
}

/* colors */

.textColorCream {
  color: var(--cream);
}
