@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Manrope:wght@500&family=Poppins:wght@500&family=Slabo+13px&family=Slabo+27px&display=swap');

/* import Fonts from Google Fonts */

/* Domine, Manrope, Poppins, Slabo13 px, Slabo 27px */


:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
  --d-green: #6a994e;
  --l-green: #a7c957;
  --grey: #e5e5e5;
  --cream: #f2e8cf;
}

body {
  height: 100%;
  background-color: var(--login-bg);
}

h1 {
  font-size: 120px;
}

.logInTitleArea {
  font-size: 2em;
}
.logInInputArea {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 2em;
  /* height: 50%;
  width: 50%; */
}
/* 
.mainContentArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} */


.uDecideLogo {
  font-size: 4em;
}

.uDecideNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25em;
}

/* buttons RIGHT SIDE */

.btn-group{
  color: var(--grey);
}

.btn-group p{
  font-family: 'Slabo 27px';
  font-size: 42px;

}


/* colors */

.textColorCream {
  color: var(--cream);
}
.tabColorGrey {
  background-color: var(--grey);
}
.tabColorGreen {
  background-color: var(--d-green);
}

.textColorGreen {
  color: var(--d-green);
}
.textColorLightGreen {
  color: var(--l-green);
}