/* uDecide Color palette
#6a994e - Dark Green
#a7c957 - Light Green
#e5e5e5 - Grey
#f2e8cf - cream
Domine, Poppin
*/

:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
  --d-green: #6a994e;
  --l-green: #a7c957;
  --grey: #e5e5e5;
  --cream: #f2e8cf;
}

.uDecideNavBar{
  position: relative;
  margin: .75em 1em 4em .75em;
  max-width: 100%;
  display: flex;
  z-index: 1;

  /* background-color: red; */
}

.uDecideLogo {
  color:  var(--l-green);
  font-size: 40px;
  font-weight: 600;
  font-family: 'Poppins';
}

.uDecideLogoTxt {
  font-size: 36px;
  font-weight: 900;
  font-family: 'Poppins';

  margin-left: 1em;
  height: 100%;
  z-index: 1;
  /* background-color: gray; */

}
.uDecideLogoTxt::after{
  display: inline-block;
  content: "";
  border-top: .1rem solid var(--l-green);
  /* height: 0rem; */
  margin-left: .5em;
  width: 83rem;
  /* figuring out how to make this scaleable */
  position: relative;
  transform: translateY(-500%);
  z-index: 0;
  /* background-color: var(--l-green); */
}

.user-nav{
  display: flex;
  margin-right: auto;
  justify-content: start;

  font-size: 18px;
  font-family: 'Poppins';
  position: absolute;
  left: 83%;
  z-index: 1;

  /* background-color: lightgray; */
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: var(--l-green);
}

/* Middle Bootstrap Container */


.bi-person-circle {
  font-size: 3em;
  position: relative;
  top: 2em;
}

.publicPostsContainer {
  border-top: 6px solid #6a994e;
}
.publicPosts {
  display: inline-block;
  background-color: var(--entry);
  border: solid 1px;
  border-radius: 3%;
  position: relative;
  left: 4em;
  width: max-content;
}
.publicPosts p {
  font-weight: bold;
  font-size: 1.1em;
  
}
.publicVoteComponent p {
  font-weight: bold;
}
.publicUserProfileName {
  position: relative;
  left: 3em;
}

.tabItem {
  border-bottom: var(--d-green);
  border-radius:5%;
  padding: 0 .5em;
  margin-right: 1em;

  font-weight: bold;
  font-family: 'Domine';
  font-size: 24px;
}
.textColorCream{
  color:#f2e8cf
}
.tabColorGrey {
  background-color: var(--grey);
}
.tabColorGreen {
  background-color: var(--d-green);
}

.uDecideTabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
ul {
  list-style: none;
}

/* right box */

.contactUs {
  position: relative;
  left: 50em;
}

.selectedPostContainer {
  background-color: var(--d-green);
  padding: 2em 2em 2em 2em;
  /* border-top: 5px 2px 2px 2px solid var(--d-green); */
}

.selectedPostContainer p {
  color: var(--cream);
  font: bold;
  font-size: 1.75em;
  font-weight: bolder;
}
.selectedUserProfileName {
  color: var(--cream);
  position: relative;
  left: 20em;
  bottom: 2em;
  font-size: 1.75em;
  font-weight: bold;
}

.voteBar1,
.voteBar2 {
  color: white;
}
.voteBar1Display {
  background-color: var(--l-green);
  width: 25%;
}
.voteBar2Display {
  background-color: var(--l-green);
  width: 40%;
}
.voteBarValue1 {
  display: inline-block;
  color: var(--cream);
  position: relative;
  left: 10em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
.voteBarValue2 {
  display: inline-block;
  color: var(--cream);
  position: relative;
  left: 15em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
