/* uDecide Color palette
#6a994e - Dark Green
#a7c957 - Light Green
#e5e5e5 - Grey
#f2e8cf - cream
*/
:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
  --d-green: #6a994e;
  --l-green: #a7c957;
  --grey: #e5e5e5;
  --cream: #f2e8cf;
}

.borderColorCream{
  border: solid 2px var(--cream);
}
.borderColorGreen {
  border: solid 2px var(--d-green);
}
.borderColorGrey {
  border: solid 2px var(--grey);
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: var(--l-green);
}
.bi-person-circle {
  font-size: 3em;
  position: relative;
  top: 2em;
}

.container {
  margin: auto;
}
.containerSize{
  height: 100vh;
}
.contactUs {
  position: relative;
  left: 50em;
}

.horizontalLineTickness{
  border: solid 2px;
  

}
.selectedPostContainer {
  background-color: var(--d-green);
  padding: 2em 2em 2em 2em;
  /* border-top: 5px 2px 2px 2px solid var(--d-green); */
}

.selectedPostContainer p {
  color: var(--cream);
  font: bold;
  font-size: 1.75em;
  font-weight: bolder;
}
.selectedUserProfileName {
  color: var(--cream);
  position: relative;
  left: 20em;
  bottom: 2em;
  font-size: 1.75em;
  font-weight: bold;
}
/* .logInInputArea{
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
} */
.publicPostsContainer {
  border-top: 5px solid #6a994e;
}
.publicPosts {
  display: inline-block;
  background-color: var(--entry);
  border: solid 1px;
  border-radius: 3%;
  position: relative;
  left: 4em;
  width: max-content;
}
.publicPosts p {
  font-weight: bold;
  font-size: 1.1em;
  
}
.publicVoteComponent p {
  font-weight: bold;
}
.publicUserProfileName {
  position: relative;
  left: 3em;
}

.tabItem {
  border-bottom: var(--d-green);
  /* border-radius:5%; */
  padding: 0.75em;
  font-weight: bold;
  margin-right: 0.75em;
}
.textColorCream{
  color:#f2e8cf
}
.tabColorGrey {
  background-color: var(--grey);
}
.tabColorGreen {
  background-color: var(--d-green);
}

.textColorGreen{
  color:var(--d-green);
}
.textColorLightGreen{
  color:var(--l-green);
}
.uDecideLogo {
  font-size: 4em;
}

.uDecideNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.25em;
}

.uDecideTabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
ul {
  list-style: none;
}
.voteBar1,
.voteBar2 {
  color: white;
}
.voteBar1Display {
  background-color: var(--l-green);
  width: 25%;
}
.voteBar2Display {
  background-color: var(--l-green);
  width: 40%;
}
.voteBarValue1 {
  display: inline-block;
  color: var(--cream);
  position: relative;
  left: 10em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
.voteBarValue2 {
  display: inline-block;
  color: var(--cream);
  position: relative;
  left: 15em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
