:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
  --d-green: #6a994e;
  --l-green: #a7c957;
  --grey: #e5e5e5;
  --cream: #f2e8cf;
}

.uDecideLogo {
  font-size: 4em;
}

.uDecideNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.25em;
}

.logInInputArea{
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
}

.containerSize{
  height: 100vh;
}

.container {
  margin: auto;
}

.textColorCream{
  color:#f2e8cf
}
.tabColorGrey {
  background-color: var(--grey);
}
.tabColorGreen {
  background-color: var(--d-green);
}

.textColorGreen{
  color:var(--d-green);
}
.textColorLightGreen{
  color:var(--l-green);
}