/* uDecide Color palette
#6a994e - Dark Green
#a7c957 - Light Green
#e5e5e5 - Grey
#f2e8cf - cream
*/
:root {
  --entry: #a4a4a4;
  --hover: #e1e1e150;
}
.borderColorCream{
  border: solid 2px #f2e8cf;
}
.borderColorGreen {
  border: solid 2px #6a994e;
}
.borderColorGrey {
  border: solid 2px #e5e5e5;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: #a7c957;
}
.bi-person-circle {
  font-size: 3em;
  position: relative;
  top: 2em;
}

.container {
  margin: auto;
}
.containerSize{
  height: 100vh;
}
.contactUs {
  position: relative;
  left: 50em;
}

.horizontalLineTickness{
  border: solid 2px;
  

}
.selectedPostContainer {
  background-color: #6a994e;
  border-top: 5px solid #6a994e;
  border-bottom: 2px solid #6a994e;
  border-left: 2px solid #6a994e;
  border-right: 2px solid#6a994e;
}

.selectedPostContainer p {
  color: #f2e8cf;
  font: bold;
  font-size: 1.75em;
  font-weight: bolder;
}
.selectedUserProfileName {
  color: #f2e8cf;
  position: relative;
  left: 20em;
  bottom: 2em;
  font-size: 1.75em;
  font-weight: bold;
}
.logInInputArea{
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
}
.publicPostsContainer {
  border-top: 5px solid #6a994e;
}
.publicPosts {
  display: inline-block;
  background-color: #a4a4a4;
  border: solid 1px #a4a4a4;
  border-radius: 3%;
  position: relative;
  left: 4em;
}
.publicPosts p {
  font-weight: bold;
  font-size: 1.1em;
}
.publicVoteComponent p {
  font-weight: bold;
}
.publicUserProfileName {
  position: relative;
  left: 3em;
}

.tabItem {
  border-bottom: #6a994e;
  /* border-radius:5%; */
  padding: 0.75em;
  font-weight: bold;
  margin-right: 0.75em;
}
.textColorCream{
  color:#f2e8cf
}
.tabColorGrey {
  background-color: #e5e5e5;
}
.tabColorGreen {
  background-color: #6a994e;
}

.textColorGreen{
  color:#6a994e;
}
.textColorLightGreen{
  color:#a7c957;
}
.uDecideLogo {
  font-size: 4em;
}

.uDecideNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.25em;
}

.uDecideTabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
ul {
  list-style: none;
}
.voteBar1,
.voteBar2 {
  color: white;
}
.voteBar1Display {
  background-color: #a7c957;
  width: 25%;
}
.voteBar2Display {
  background-color: #a7c957;
  width: 40%;
}
.voteBarValue1 {
  display: inline-block;
  color: #f2e8cf;
  position: relative;
  left: 10em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
.voteBarValue2 {
  display: inline-block;
  color: #f2e8cf;
  position: relative;
  left: 15em;
  bottom: 1.15em;
  font-weight: 400;
  font-size: 1.95em;
}
